.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  a {
    &:visited {
      color: inherit;
    }
  }
  .project-header {
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    a {
      text-decoration: none;
    }
    .fas {
      margin-right: 20px;
      color: #4d50b3;
    }
  }
}

.nav-links {
  display: flex;
  li {
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
